@{
    Layout = "_Layout";
    var action = ViewContext.RouteData.Values["Action"];
     var controller = ViewContext.RouteData.Values["Controller"];
    var tabId=ViewBag.tabId;
}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a asp-controller="@controller" asp-action="Index">@controller</a></li>
  <li class="breadcrumb-item"><a asp-controller="@controller" asp-action="@action">@action</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class='nav-link @(action.Equals("Details") ? "active":string.Empty)'  asp-action="Details">Details</a>
  </li>
  
  <li class="nav-item">
    <a class='nav-link  @(action.Equals("Roles") ? "active":string.Empty)'  asp-action="Roles">Roles</a>
  </li>
  <li class="nav-item">
    <a class='nav-link  @(action.Equals("Applications") ? "active":string.Empty)'   asp-action="Applications">Applications</a>
  </li>
  <!-- <li  class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> -->
  
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="@tabId">
   <div class="container body-content">
        @RenderBody()
    </div>
  </div>
  <!-- <div class="tab-pane fade " id="roles">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
  <div class="tab-pane fade" id="application">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div> -->
</div>


