@model LoginViewModel

<div class="login-page">
    <!-- <div class="page-header">
        <h1>Login</h1>
    </div> -->

    

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                    <div class="row" style="margin:0;background-color:white;padding:5px;border-radius: 5px;border-style: solid;border-width: 1px;border-color: #FFB20C">
                                <div class="col-sm-12 col-xs-12" style="margin-top:2px;">

                                        <div>

                                            <img id="bdoLogoWeFind" alt="BDO" src="/images/bdoLogo.png">&nbsp;
                                        
                                            <h3 class="pull-right">
                                                <strong style="color:#043673">CLG</strong>
                                                <small style="color:#ff9c00 ">Exchange <span style="font-size:11px;color:#043673"><strong>1.0.0</strong></span></small>
                                            </h3>
                                            <br>
                                            <span style="font-size:11px;color:#043673" class="pull-right"></span>
                                        </div>

                                </div>
                    </div>
                                <div class="alert alert-warning" style="margin-top: 2px;padding:5px;">
                                    <strong style="color:#1a2b51">System Description: </strong>
                                    <p style="color:#043673">A common request processing System for Consumer loans group.</p>

                                </div>
                                        <form asp-route="Login">
                                            <input type="hidden" asp-for="ReturnUrl" />

                                            <fieldset class="front-login">
                                                <div class="form-group">
                                                    
                                                

                                                    <div class="col-md-1" >
                                                        <i class="fa fa-user fa-2x"></i> <!--Username-->
                                                    </div>
                                                            <div class="col-md-11">
                                                                <!-- <input required name="username" autofocus id="username"  type="text" class="form-control" placeholder="Username" ng-model="model.username" maxlength="100"> -->
                                                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                                            </div>
                                                </div>
                                                <div class="form-group">
                                            
                                                
                                                    <label class="col-md-1 control-label" asp-for="Password" >
                                                                <i class="fa fa-keyboard-o fa-2x"></i>
                                                                <!--Password-->
                                                            </label>
                                                            <div class="col-md-11">
                                                                
                                                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                                            </div>
                                                </div>
                                                <!-- @if (Model.AllowRememberLogin)
                                                {
                                                    <div class="form-group login-remember">
                                                        <label asp-for="RememberLogin">
                                                            <input asp-for="RememberLogin">
                                                            <strong>Remember My Login</strong>
                                                        </label>
                                                    </div>
                                                } -->

                                                <!-- <div>
                                                    <p>The default users are alice/bob, password: Pass123$</p>
                                                </div> -->
                                                <div class="form-group" >&nbsp;</div>
                                                <div class="form-group" >
                                                
                                                    <!-- <button class="btn btn-default" name="button" value="cancel">Cancel</button> -->
                                                    <div class="col-md-offset-1 col-md-11">
                                                                <button class="btn btn-primary" name="button" value="login">Login</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                </div>

                                 <div class="panel-footer" style="background-color: #e6e6e6;padding:0;padding-left:2px;padding-right:2px;">

                                <p style="color:#043673">
                                    <small style="font-size:11px;">Only authorized employees may use this system. It is an offense to log on to the system if you are unauthorized or to use it for illicit purposes. Access to this system is being monitored.</small>
                                </p>
                             </div>
                </div>
            </div>
             

                                @if (Model.VisibleExternalProviders.Any())
                                {
                                    <div class="col-md-6 col-sm-6 external-providers">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">External Login</h3>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="list-inline">
                                                    @foreach (var provider in Model.VisibleExternalProviders)
                                                    {
                                                        <li>
                                                            <a class="btn btn-default"
                                                            asp-action="ExternalLogin"
                                                            asp-route-provider="@provider.AuthenticationScheme"
                                                            asp-route-returnUrl="@Model.ReturnUrl">
                                                                @provider.DisplayName
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                
                                }

                                @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                                {
                                    <div class="alert alert-warning">
                                        <strong>Invalid login request</strong>
                                        There are no login schemes configured for this client.
                                    </div>
                                }

          <div class="col-md-4">
        <section id="socialLoginForm">
            <img id="bdoLogo" src="~/images/bdoLogo.png" alt="BDO">
            <h4>BDO LDAP as Authentication Service</h4>
            <hr />
            <div>
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
            <h3>@Model.ClientName</h3>

            
                        <!-- {{model.errorMessage}} -->
                        @Html.Partial("_ValidationSummary")
                  
        </section>
    </div>                      
        }
        </div>
</div>


