@{
    Layout="_UserLayout";
     var Id = ViewContext.RouteData.Values["Id"];
     var en=Model.Application.GetEnumerator();
}
@model IdsServer.Models.SystemSelectionViewModel

<h2>Applications</h2>
<form asp-action="AssignApplication" method="post" asp-route-Id="@Id">
   
        <ul class="list-group">
           
           @for(var i=0;en.MoveNext();i++)
       
            {
               
                <li class="list-group-item d-flex justify-content-between align-items-center">
                   
                     <div class="  form-check pull-right">
                         
                            @Html.CheckBoxFor(m =>Model.Application[i].Selected)
                            <label>@Model.Application[i].Name</label>
                           @Html.HiddenFor(m => Model.Application[i].Name)
                           @Html.HiddenFor(m => Model.Application[i].Id)
                           @Html.HiddenFor(m => Model.Application[i].ClientId)
                </div>
                 
                </li>

              
                
            }
        
        
        </ul>
<div id="" class="row">
                <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-default" asp-route-id="@Id">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
                 
                </div>
</form>


